html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: rgb(33, 37, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    padding-bottom: 58px;
}
